<html>
  <head>
    <title>pixel_lang engine, <%= engine.name %></title>
    <style>
      table td a {
        display: block;
        height: 100%;        
        width: 100%;
      }
      #wrap { width: 600px; height: 390px; padding: 0; overflow: auto; }
      #zoom {
          -ms-zoom: <%= zoom %>;
          -moz-transform: scale(<%= zoom %>);
          -moz-transform-origin: 0 0;
          -o-transform: scale(<%= zoom %>);
          -o-transform-origin: 0 0;
          -webkit-transform: scale(<%= zoom %>);
          -webkit-transform-origin: 0 0;
      }
    </style>
    <% if running %>
      <meta http-equiv="refresh" content="1">
    <% end %>
  </head>
  <body>
    <a href="/">Home</a>
    <br>
    <div id="wrap">
      <div id="zoom">
        <table border="0">
          <% (0...engine.instructions.height).each do |y| %>
            <tr>
            <% (0...engine.instructions.width).each do |x| %>
                <% color = "##{engine.instructions[x, y].value.to_int_hex[2...8]}" %>
                <td bgcolor="<%= color %>">
                <% if !(pistons = engine.pistons.select {|p| p.position_x == x && p.position_y == y}).empty? %>
                    <% if color[1..2].to_i(16) > 0x77 %> 
                      <% color = "#000000" %> 
                    <% else %> 
                      <% color = "#FFFFFF" %> 
                    <% end %>
                    <% if pistons.size == 1 %>
                      <% p_c = "?" %>
                      <% if pistons[0].direction == :up %>
                        <% p_c = "^" %>
                      <% elsif pistons[0].direction == :down %>
                        <% p_c = "v" %>
                      <% elsif pistons[0].direction == :left %>
                        <% p_c = "<" %>
                      <% elsif pistons[0].direction == :right %>
                        <% p_c = ">" %>
                      <% end %>
                      <a style="color:<%= color %>;text-decoration:none;" href="/engines/<%= e_id %>/instructions/<%= x %>/<%= y %>">&nbsp<%= p_c %>&nbsp</a>
                    <% elsif pistons.size < 10 %>
                      <a style="color:<%= color %>;text-decoration:none;" href="/engines/<%= e_id %>/instructions/<%= x %>/<%= y %>">&nbsp<%= pistons.size %>&nbsp</a>
                    <% else %>
                      <a style="color:<%= color %>;text-decoration:none;" href="/engines/<%= e_id %>/instructions/<%= x %>/<%= y %>">&nbsp+&nbsp</a>                  
                    <% end %>  
                <% else %>
                    <a style="color:<%= color %>;text-decoration:none;" href="/engines/<%= e_id %>/instructions/<%= x %>/<%= y %>">&nbsp&nbsp&nbsp&nbsp</a>              
                <% end %>  
                </td> 
            <% end %>
            <tr>
          <% end %>
        </table>
      </div>
    </div>
    
    <form action="/engines/<%= e_id %>/next" method="post">
      <p>Cycles: <input name="cycles" type="number" value="1"></input></p>
      <input type="submit" value="Go!">
    </form>

    <% run_text = (running ? "STOP" : "PLAY") %>
    <% run_url = (running ? "/engines/#{e_id}/stop" : "/engines/#{e_id}/play") %>
    <a href="/zoom/in"> ZOOM+ </a>&nbsp&nbsp&nbsp&nbsp<a href="/zoom/out"> ZOOM- </a>
    <br>
    <a href="<%= run_url %>"> <%= run_text %> </a>&nbsp&nbsp&nbsp&nbsp<a href="/engines/<%= e_id %>/reset"> RESET </a>
    <br>
    <br>
    <%= engine.output %>
  </body>
</html>