<html>
  <head>
    <title>pixel_lang engine, <%= engine.name %></title>
    <style>
      table td a {
        display: block;
        height: 100%;        
        width: 100%;
      }
      #wrap { width: 800px; height: 500px; padding: 0; overflow: auto; }
      #zoom {
          -ms-zoom: <%= zoom %>;
          -moz-transform: scale(<%= zoom %>);
          -moz-transform-origin: 0 0;
          -o-transform: scale(<%= zoom %>);
          -o-transform-origin: 0 0;
          -webkit-transform: scale(<%= zoom %>);
          -webkit-transform-origin: 0 0;
      }
    </style>
    <% if running %>
      <meta http-equiv="refresh" content="1">
    <% end %>
  </head>
  <body>
    <a href="/">Home</a>
    <br>
    <div id="wrap">
      <div id="zoom">
        <table border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed">
          <% (0...engine.instructions.height).each do |y| %>
            <tr>
            <% (0...engine.instructions.width).each do |x| %>
                <% color = "##{engine.instructions[x, y].value.to_int_hex[2...8]}" %>
                <td bgcolor="<%= color %>" width="20">
                <% if !(pistons = engine.pistons.select {|p| p.position_x == x && p.position_y == y}).empty? %>
                    <% if color[1..2].to_i(16) > 0x77 %> 
                      <% color = "#000000" %> 
                    <% else %> 
                      <% color = "#FFFFFF" %> 
                    <% end %>
                    <% if pistons.size == 1 %>
                      <% p_c = "?" %>
                      <% if pistons[0].direction == :up %>
                        <% p_c = "^" %>
                      <% elsif pistons[0].direction == :down %>
                        <% p_c = "v" %>
                      <% elsif pistons[0].direction == :left %>
                        <% p_c = "<" %>
                      <% elsif pistons[0].direction == :right %>
                        <% p_c = ">" %>
                      <% end %>
                      <center><a style="color:<%= color %>;text-decoration:none;" href="/engines/<%= e_id %>/instructions/<%= x %>/<%= y %>"><%= p_c %></a></center>
                    <% elsif pistons.size < 10 %>
                      <center><a style="color:<%= color %>;text-decoration:none;" href="/engines/<%= e_id %>/instructions/<%= x %>/<%= y %>"><%= pistons.size %></a></center>
                    <% else %>
                      <center><a style="color:<%= color %>;text-decoration:none;" href="/engines/<%= e_id %>/instructions/<%= x %>/<%= y %>">+</a></center>
                    <% end %>  
                <% else %>
                    <center><a style="color:<%= color %>;text-decoration:none;" href="/engines/<%= e_id %>/instructions/<%= x %>/<%= y %>">&nbsp&nbsp</a></center>
                <% end %>  
                </td> 
            <% end %>
            <tr>
          <% end %>
        </table>
      </div>
    </div>
    <% play_text = (running ? "STOP" : "PLAY") %>
    <% play_url = (running ? "/engines/#{e_id}/stop" : "/engines/#{e_id}/play") %>
    <table border="0">
      <tr>
        <td>
          <form action="/zoom/in" method="get">
            <input type=submit value="+"></input>
          </form>
        </td>
        <td>
          <form action="/zoom/out" method="get">
            <input type=submit value="-"></input>
          </form>
        </td>
        <td>
          <form action="/engines/<%= e_id %>/next" method="post">  
            Cycles: <input style="width:50px"name="cycles" type="number" value="1" width=50px></input>
            <input type="submit" value="Go!">
          </form>
        </td>
        <td>
          <a href="<%= play_url %>"><%= play_text %></a>
        </td>
        <td>
          <a href="/engines/<%= e_id %>/reset">RESET</a> 
        </td>
      </tr>
    </table>
    <p><%= engine.output %></p>
  </body>
</html>